@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.bg-left {
  background-color: rgb(35, 63, 128);
}

.w-15pt {
  width: 15%;
}
.w-85pt {
  width: 15%;
  border-bottom: 2px solid rgb(35, 63, 128);
}
.min-w-15pt {
  min-width: 15%;
}
/* .h-80pt {
  height: 80%;
}
.h-20pt {
  height: 20%;
} */
.w-90pt {
  width: 90%;
}
.boxShadow {
  box-shadow: 0 0 10px 0 rgb(39, 39, 39);
}
.grid-20-80 {
  display: grid;
  grid-template-rows: repeat(1, 10%);
}
